


/* ********************************************NAVBAR************************************** */
.navcolor {
  background-color: #090918;
}

.logo::first-letter {
  color: #5d10db;
}

.navbar-button {
  color: #8a8a8b;
}

.navbar-button:hover {
  color: white;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #000000, #5d10db);
  border-image-slice: 1;
}

/* ****************************************SEC - A********************************** */

.s-home {
  background-color:  #080713;
  padding: 150px;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Custom Animation Classes */
.animate-typing {
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

.animate-blink {
  animation: blink 1s infinite;
}

.resume-button {
  background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
  color: #fafafa;
  backdrop-filter: blur(10px);
  padding: 10px 20px; /* Updated padding for a slightly smaller button */
  width: 150px; /* Set an initial width for the button */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(102, 16, 242, 0.5);
  transition: all 0.7s ease;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Saira";
}

.resume-button:hover {
  width: 200px; /* Expanded width on hover */
  background: rgba(102, 16, 242, 0.5);

}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 12rem;
}

/* ****************************************SEC - B********************************************** */

.s-about {
  padding: 96px 15px;
  background-color: #0b0a19
}

@media screen and (max-width: 992px) {
  #s-about {
      padding: 48px 16px
  }
}

